labelWidthRatio=0.228903
label2WidthRatio=0.772152
label3WidthRatio=0.229958
label4WidthRatio=0.771097
widget4HeightRatio=0.198257
widget6HeightRatio=0.504065
widget7HeightRatio=0.498645
widget8HeightRatio=0.314371
splitter6HeightRatio=0.687126
splitter5HeightRatio=0.803922
splitterHeightRatio=0.308943
splitter2HeightRatio=0.693767
splitter4WidthRatio=0.290105
splitter3WidthRatio=0.710645
imgFolderName=imgs
solutionsFolderName=sol
scoreImgsName=GT
